body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/images/textura-pared-ladrillos-blancos_1203-1665.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-app{
  width: 500px;
  height: 100vh;
}
.w-80{
  width: 335px;
}
.player-box{
  margin-bottom: 20px;
}

.bg-button{
  background-color: red;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

.X {
  color: red;
}
.O {
  color: green;
}